Library/
BaseFramework/.vs/
BaseFramework/data/Models
BaseFramework/data/Sound
BaseFramework/data/Texture
BaseFramework/Debug/
BaseFramework/Debug2/
BaseFramework/PortalProject.sln
BaseFramework/Project.vcxproj
BaseFramework/Project.vcxproj.user
BaseFramework/追加・変更点.txt