Library/
BaseFramework/.vs/
BaseFramework/data/
BaseFramework/Debug/
BaseFramework/Debug2/
BaseFramework/PortalProject.sln
BaseFramework/Project.vcxproj
BaseFramework/Project.vcxproj.filters
BaseFramework/Project.vcxproj.user
BaseFramework/追加・変更点.txt